/*COLOR DE LA BARRA DEL MENU*/
.bg-nav-color{
    background: rgb(255,255,255) !important;
    background: linear-gradient(90deg, rgba(255,255,255,0.700717787114846) 0%, rgba(40,40,139,0.7259278711484594) 50%, rgba(2,0,36,1) 100%) !important;
}
/*COLOR DE EL PIE DE LA PAGINA*/
.bg-footer-color{
    background: rgb(35,28,152) !important;
    background: linear-gradient(180deg, rgba(35,28,152,1) 0%, rgba(7,7,71,1) 50%, rgba(6,17,113,0.8715861344537815) 100%) !important;
    color: #ffffff;
}
/*COLOR DE FONDO DE LA PAGINA (PUEDE SER UNA IMAGEN O UN COLOR SOLIDO O GRADIANTE*/
body{
    /*
    background-image: url(../img/acercade.webp) !important;
    background-position: center !important;
    background-size: cover !important;
    */
    background: rgb(130,130,140);
    background: linear-gradient(270deg, rgba(142, 142, 180, 0.867) 0%, rgba(130,116,116,0.7942854634831461) 0%, rgba(0,0,0,0) 50%, rgba(156,156,156,0.850465238764045) 100%);
}

/*TIPO DE LETRA DE LA BARRA DEL MENU, ES UNA PARTE EL CODIGO SACADO DE GOOGLE LO DEMAS ESTA EN INDEX.PHP*/
.nav-item{
    font-size: 1rem !important;
    font-family: 'PT Sans Narrow', sans-serif;
}
/*IMAGEN DE FONDO DE ACERCA DE EN EL INICIO*/
.card-image{
    background-image: url(../img/acercade.webp) !important;
    background-position: center !important;
    background-size: cover !important;
}
/*NO RECUERDO DONDE LO PUSE :C VALIO GGGG*/
.img-s{
    height: 250px !important;
}

/**/
/*  ESTILOS DEL SLIDER, LOS DATOS VIENEN DE "LoadInicio.php"
*/

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
/*  ESTILOS DEL SLIDE    FIN  */




/*TIPO DE LETRA DE LOS TITULOS DE LA PAGINA*/
.title-text{
    font-family: 'Montserrat' ;
}
.oval{/*estilo para botones redondeados */
    border-radius: 20px;
}

